.dialog#somedialog
  .dialog__overlay
  .dialog__content
    .morph-shape
      svg height="100%" preserveaspectratio="none" viewbox=("0 0 560 280") width="100%" xmlns="http://www.w3.org/2000/svg"
        rect fill="none" height="276" width="556" x="3" y="3"
    .dialog-inner
      = form_for Blog.new do |f|
        = render 'form', f: f
      .close_dialog
        button.action data-dialog-close=""  Close

javascript:
  (function() {
    var dlgtrigger = document.querySelector( '[data-dialog]' ),
      somedialog = document.getElementById( dlgtrigger.getAttribute( 'data-dialog' ) ),
      dlg = new DialogFx( somedialog );
    dlgtrigger.addEventListener( 'click', dlg.toggle.bind(dlg) );
  })();