h2 Sign up

= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'col s12' }) do |f|

  / = f.error_notification
  .row
    .input-field.col.s6
      = f.label :first_name
      = f.text_field :first_name, class: 'validate'
    .input-field.col.s6
      = f.label :last_name
      = f.text_field :last_name, class: 'validate'
  .row
    .input-field.col.s6
      = f.label :email
      = f.email_field :email
    .input-field.col.s6
      = f.label :birth_day
      = f.text_field :birth_day, class: 'datepicker'
    .col.s6
      = f.label :avatar
      = f.file_field :avatar
    .input-field.col.s6
      = f.label :password
      = f.password_field :password
    .input-field.col.s6
      = f.label :password_confirmation
      = f.password_field :password_confirmation
  .row
    = f.submit 'Sign up', class: 'btn'

= render 'devise/shared/links'
