.col.s12.m4
  .card.blue-grey.darken-1
    .card-content.white-text
      = image_tag comment.user.avatar.url(:thumb), class: 'responsive-img circle'
      = comment.user.full_name
      br
      span.card-title= comment.user.full_name
      p= comment.content
    - if comment.user == current_user
      .card-action
        = link_to 'Delete Comment', comment_path(comment), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'waves-effect waves-light btn'
