h5 New comment...
= simple_form_for Comment.new do |f|
  = f.input :post_id, as: :hidden, input_html: { value: post_id }
  .row
    .input-field
      = f.input :content
  = f.submit 'Create', class: 'btn'