/* line 1, /home/volodya/Projects/applikey_blog/app/assets/stylesheets/inputfile.scss */
.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
  background-color: #722040;
}

/* line 7, /home/volodya/Projects/applikey_blog/app/assets/stylesheets/inputfile.scss */
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* line 16, /home/volodya/Projects/applikey_blog/app/assets/stylesheets/inputfile.scss */
.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  /* 20px */
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  /* 10px 20px */
  color: #f1e5e6;
  background-color: #d3394c;
}

/* line 32, /home/volodya/Projects/applikey_blog/app/assets/stylesheets/inputfile.scss */
.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

/* line 37, /home/volodya/Projects/applikey_blog/app/assets/stylesheets/inputfile.scss */
.inputfile + label * {
  pointer-events: none;
}

/* line 41, /home/volodya/Projects/applikey_blog/app/assets/stylesheets/inputfile.scss */
.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}
