nav
  .nav-wrapper
    = link_to 'New Age Blog', root_path, class: 'brand-logo'
    ul#nav-mobile.right.hide-on-med-and-down
      / navbar_type is a app helper method
      / please, specify new type of navbar links
      / in this method ti show your partial
      = render "shared/navbar_links/#{navbar_type}_links"
      = render 'shared/user_section'