- if current_user
  li
    = image_tag current_user.avatar.url(:thumb), class: 'responsive-img circle'
    = current_user.full_name
  li
    = link_to 'Logout', destroy_user_session_path, method: :delete
- else
  li
    = link_to 'Sign in', new_user_session_path
  li
    = link_to 'Sign up', new_user_registration_path