h2 Log in

= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .row
    .input-field.col.s12
      = f.input :email, required: false, autofocus: true
  .row
    .input-field.col.s12
      = f.input :password, required: false
  .row
    .input-field.col
      = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  = f.button :submit, 'Log in', class: 'btn'

= render 'devise/shared/links'
