.col.s12.m4
  .card.blue-grey.darken-1
    .card-content.white-text
      = image_tag post.user.avatar.url(:thumb), class: 'responsive-img circle'
      = post.user.full_name
      br
      span.card-title= post.title
      p= post.content
    - unless params[:action] == 'show'
      .card-action
          = link_to 'View', post_path(post)
          .right
            i.small.material-icons comment
            = "(#{post.comments.count})"
      - if current_user && post.user == current_user
        = link_to 'Delete', post_path(post), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'waves-effect waves-light btn'

